.container-principal {
  max-height: -webkit-fill-available;
  width: 80%;
  margin: auto;
}

.icon-display {
  transform: scale(1.6);
}

.label {
  margin-left: 14px;
  letter-spacing: 0.00938em;
  font-size: 34px;
  font-weight: 700;
}

@media (max-width: 575px) {
  .label {
    font-size: 28px;
  }
}
