<div class="area-contact pt-5">
  <div>
    <mat-icon class="icon-display"> {{ icon }} </mat-icon>
    <span class="label"> {{ title }} </span>
  </div>

  <div class="form row mt-4">
    <span class="info-form mt-4">
      Por favor, envie uma mensagem abaixo e entrarei em contato com você em
      breve!
    </span>

    <form class="mt-4 example-form">
      <mat-form-field class="campo-form">
        <mat-label>
          <mat-icon
            style="color: white; transform: scale(1.5); margin-right: 8px"
          >
            person
          </mat-icon>
          <span style="color: white">Nome</span>
        </mat-label>

        <input matInput />
      </mat-form-field>

      <mat-form-field class="campo-form">
        <mat-label style="color: white">
          <mat-icon
            style="color: white; transform: scale(1.2); margin-right: 5px"
          >
            email
          </mat-icon>
          Email
        </mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field class="campo-form">
        <mat-label style="color: white">Mensagem</mat-label>
        <textarea style="height: 130px" matInput></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary" class="mb-4">
        Enviar
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>
</div>
