<p style="margin: 0;">
  <mat-toolbar>
    <button mat-icon-button (click)="drawer.toggle()" class="navbtn">
      <mat-icon>menu</mat-icon>
    </button>

    <button mat-icon-button class="toHideOnMedia">
      <mat-icon>home</mat-icon>
    </button>
    <span class="spacer"></span>

    <div class="toHideOnMedia">
      <button mat-button>Home</button>
      <button mat-button>Sobre</button>
      <button mat-button>Portfolio</button>
      <button mat-button>Projetos</button>
      <button mat-button>Contato</button>
    </div>
  </mat-toolbar>
</p>

<mat-drawer-container class="container-auto" autosize>
  <mat-drawer #drawer class="sidenav" mode="over">
    <mat-nav-list>
      <a mat-list-item>Home</a>
      <a mat-list-item>Sobre</a>
      <a mat-list-item>Portfolio</a>
      <a mat-list-item>Projetos</a>
      <a mat-list-item>Contato </a>
    </mat-nav-list>
  </mat-drawer>
  <div>
    <br />
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
