<p style="margin: 0">
  <mat-toolbar color="var(--black)">
    <button mat-icon-button (click)="drawer.toggle()" class="navbtn">
      <mat-icon>menu</mat-icon>
    </button>

    <button mat-icon-button class="toHideOnMedia" (click)="home()">
      <mat-icon>home</mat-icon>
    </button>
    <span class="spacer"></span>

    <div class="toHideOnMedia">
      <button mat-button (click)="home()">Home</button>
      <button mat-button (click)="aboutMe()">Sobre</button>
      <button mat-button (click)="portfolio()">Portfolio</button>
      <button mat-button (click)="projects()">Projetos</button>
      <button mat-button (click)="contact()">Contato</button>
    </div>
  </mat-toolbar>
</p>

<mat-drawer-container class="container-auto" autosize>
  <mat-drawer #drawer class="sidenav" mode="over">
    <mat-nav-list>
      <a mat-list-item (click)="home(); drawer.toggle();"> Home </a>
      <a mat-list-item (click)="aboutMe(); drawer.toggle();"> Sobre</a>
      <a mat-list-item (click)="portfolio(); drawer.toggle();">Portfolio</a>
      <a mat-list-item (click)="projects(); drawer.toggle();">Projetos</a>
      <a mat-list-item (click)="contact(); drawer.toggle();">Contato </a>
    </mat-nav-list>
  </mat-drawer>
  <div>
    <br />
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
