<div
  class="container-principal d-flex flex-row align-items-center flex-wrap h-100 m-5"
  style="max-height: -webkit-fill-available"
>
  <div class="flex-grow-1 min-vw-90 text-center mt-4">
    <p class="title">Olá, me chamo Paulo Gustavo</p>
    <p class="sub-title">
      Sou desenvolvedor web, com conhecimento principal nas tecnologias:
      AngularTS e TypeScript
    </p>

    <button class="mt-3" mat-raised-button color="primary" (click)="aboutMe()">
      SOBRE MIM
    </button>

    <div class="d-flex justify-content-center mt-2">
      <button mat-icon-button (click)="goToLinkedin()">
        <app-icon name="iconLinkedin" [icon]="iconLinkedin"></app-icon>
      </button>

      <button mat-icon-button (click)="goToGithub()">
        <app-icon name="iconGithub" [icon]="iconGithub"></app-icon>
      </button>

      <button mat-icon-button (click)="goToEmail()">
        <app-icon name="iconEmail" [icon]="iconEmail"></app-icon>
      </button>

      <button mat-icon-button (click)="goToInstagram()">
        <app-icon name="iconInstagram" [icon]="iconInstagram"></app-icon>
      </button>
    </div>
  </div>
  <div class="p-2 text-center area-perfil">
    <img
      src="../../../assets/images/image-perfil.jpg"
      class="img-fluid image-perfil"
      alt="foto de perfil"
    />
  </div>
</div>
