.card-deck {
  width: 92%;
  margin: 0 auto;
}

.card {
  background-color: var(--primary);
  border: none;
}

@media (max-width: 575px) {
  .card {
    padding: 0;
    background-color: #212121 !important;
    margin-bottom: 10px;
  }
}

