<div class="container-principal h-100">
  <div class="pt-5">
    <mat-icon class="icon-display">person</mat-icon>
    <span class="label">Sobre mim</span>
  </div>

  <div class="row d-flex flex-row flex-wrap flex-grow-1 mt-4">
    <div class="col-6">
      <app-area-about
        icon="school"
        title="Formação e habilidades"
      ></app-area-about>
    </div>
    <div class="col-6">
      <app-area-about
        icon="code"
        title="Principais tecnologias que utilizo"
      ></app-area-about>
    </div>
  </div>
</div>
