.container-principal {
  max-height: -webkit-fill-available;
  width: 80%;
  margin: auto;
}

.icon-display {
  transform: scale(1.6);
}

.label {
  margin-left: 14px;
  letter-spacing: 0.00938em;
  font-size: 34px;
  font-weight: 700;
}

.container-about {
  height: -webkit-fill-available;
}

.area-pie {
  display: block;
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.label-pie-chart {
  font-size: 13.3px;
  font-weight: 500;
  margin-top: 10px;
}



