<app-layout icon="person" title="Sobre mim">
  <div class="col-6">
    <app-area-about icon="school" title="Formação e habilidades">
      <ng-container *ngFor="let item of items">
        <div class="p-4 pt-2 d-flex align-items-center">
          <span>
            <mat-icon style="margin-right: 16px">check</mat-icon>
          </span>
          <span class="label-content"> {{ item }} </span>
        </div>
      </ng-container>

      <div class="p-4 pt-2 d-flex align-items-center">
        <span>
          <mat-icon style="margin-right: 16px">check</mat-icon>
        </span>

        <button mat-raised-button color="primary" (click)="curriculo()">
          CURRÍCULO.PDF
        </button>
      </div>
    </app-area-about>
  </div>

  <div class="col-6">
    <app-area-about icon="code" title="Principais tecnologias que utilizo">
      <div class="area-pie">
        <app-pie-chart></app-pie-chart>
        <p class="label-pie-chart">Anos de experiência</p>
      </div>
    </app-area-about>
  </div>
</app-layout>
